/* .main .scroll {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 300px;
    background-color: var(--background-header);
    color: var(--white);
    font-family: "Manrope", sans-serif;
}

.main .scroll .page {
    text-decoration: none;
    color: var(--white);
    font-family: "Manrope", sans-serif;
    font-size: 6px;
    font-weight: 200;
} */
