/* START COMMON STYLES */
.main {
    min-height: 100%;
}

.preview {
    height: 100vh;
    background-image: url('../images/backgroundMainPage.png');
    background-size: cover;
}

.preview .preview-container {
    height: 100%;
    width: 100%;
    background-color: var(--blur-main-page);
    background-repeat: no-repeat;
    background-position: center bottom;
    font-family: "Manrope", sans-serif;
    display: flex;
}

.preview .preview-container.first-pers {
    background-image: url('../images/main_pers.png');
}

.preview .preview-container.second-pers {
    background-image: url('../images/girl.png');
    background-position: left bottom;
}
/* END COMMON STYLES */

/* START PREVIEW SCREEN ON MAIN PAGE */
.preview .preview-container .flex-grid {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 100%;
}

.preview .preview-container .online-boxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

.preview .preview-container .flex-grid.first-screen .button {
    background-color: var(--background-header);
    display: flex;
    justify-content: center;
    color: var(--white);
    padding: 15px 40px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 600;
    text-transform: uppercase;
    backdrop-filter: blur(5px);
}

.preview .preview-container .flex-grid.first-screen .button.online-block {
    font-size: 24px;
}

.preview .preview-container .bottom-boxes {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

.preview .preview-container .flex-grid.first-screen .bottom-boxes .button {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px 100px;
    font-size: 24px;
    font-family: 'SAIBA-45', sans-serif;
    font-weight: 300;
}

.preview .preview-container .bottom-boxes .right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.preview .preview-container .bottom-boxes .right .button.download {
    display: flex;
    gap: 10px;
    align-items: center;
}

.preview .preview-container .bottom-boxes .right .button.download img {
    width: 27px;
}
/* END PREVIEW SCREEN ON MAIN PAGE */

/* START ABOUT US SCREEN ON MAIN PAGE */
.preview .preview-container.second-pers {
    justify-content: center;
}
.preview .preview-container .flex-grid-about {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 900px;
}

.preview .preview-container .flex-grid-about .about-us {
    padding: 20px 40px;
    background-color: var(--background-header);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    color: var(--white);
    font-size: 20px;
    max-width: 370px;
}
/* END ABOUT US SCREEN ON MAIN PAGE */