.main {
    min-height: 100%;
}

.preview {
    height: 100vh;
    background-image: url('../images/backgroundMainPage.png');
    background-size: cover;
}

.preview .preview-container {
    height: 100%;
    width: 100%;
    background-color: var(--blur-main-page);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.preview .preview-container.first-pers {
    background-image: url('../images/main_pers.png');
}

.preview .preview-container.second-pers {
    background-image: url('../images/girl.png');
    background-position: left center;
}


.online-boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.Online-block {
    background-color: var(--background-header);
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    height: 100%;
    width: 400px;
    text-align: center;
}


.Online-text {
    text-decoration: none;
    color: var(--white);
    font-family: "Manrope", sans-serif;
    font-size: 23px;
    font-weight: 500;
}

.preview .bottom-boxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.download {
    display: flex;
    background-color: var(--background-header);
    color: var(--white);
    justify-content: center;
    flex-direction: row;
    padding: 6px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    font-size: 30px;
}

.bottom-boxes .download img {
    height: 30px;
    margin-left: 20px;
    height: auto;
}

.forum {
    font-size: 30px;
    background-color: var(--background-header);
    color: var(--white);
    padding: 6px;
    border-radius: 50px;
    width: 150px;
    text-align: center;
}

.preview-container.second-pers .aboutUs {
    font-size: 45px;
    background-color: var(--background-header);
    color: var(--white);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 70px;
    width: 200px;
    
}